<div id="lessonModal1" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/mathCurationTeamExercise.pdf"></iframe>
    <p>Lesson 1</p>
  </div>
</div>
<div id="lessonModal2" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/fractions.pdf"></iframe>
    <p>Lesson 2</p>
  </div>
</div>
<div id="lessonModal3" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/JellyBeanJumble.pdf"></iframe>
    <p>Lesson 3</p>
  </div>
</div>
<div id="lessonModal4" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/patterns.pdf"></iframe>
    <p>Lesson 4</p>
  </div>
</div>
<div id="lessonModal5" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/simpleMachines.pdf"></iframe>
    <p>Lesson 5</p>
  </div>
</div>
<div id="lessonModal6" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/equations.pdf"></iframe>
    <p>Lesson 7</p>
  </div>
</div>
<div id="lessonModal7" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/probability.pdf"></iframe>
    <p>Lesson 8</p>
  </div>
</div>
<div id="lessonModal8" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/map.pdf"></iframe>
    <p>Lesson 9</p>
  </div>
</div>
<div id="lessonModal9" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/wageInequalityProject.pdf"></iframe>
    <!-- <p>Lesson 10</p> -->
  </div>
</div>
<div id="lessonModal10" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/horses.pdf"></iframe>
    <p>Lesson 11</p>
  </div>
</div>
