<div id=panel1 class="panel">
      <canvas id="walkAnimation"></canvas>
      <img class="speechBubble" id="panel1speechBubble" src="./images/text/showYou.png">

      <div id="officeBackground" class="background">
        <img src="./images/office/officeBackground.png">
        <img class="wallStuff" id="nav" src="./images/office/navagation.png">
        <img class="wallStuff" id="poster" src="./images/office/poster.png">

        <div class="icon" id="officelocFB">
          <div class="icon--facebook" >
            <a href="https://www.facebook.com/mannahcodes/" target="_blank">
              <span class="icon__name">Facebook</span>
            </a>
          </div>
        </div>
        <div class="icon" id="officelocTW">
          <div class="icon--twitter">
            <a href="https://twitter.com/mannahKallon" target="_blank">
              <span class="icon__name">Twitter</span>
            </a>
          </div>
        </div>
        <div class="icon" id="officelocLI">
          <div class="icon--linkedin" >
            <a href="https://www.linkedin.com/in/kenikall" target="_blank">
              <span class="icon__name">LinkedIn</span>
            </a>
          </div>
        </div>
        <div class="icon" id="officelocGH">
          <div class="icon--github">
            <a href="https://github.com/kenikall" target="_blank">
              <span class="icon__name">GitHub</span>
            </a>
          </div>
        </div>
        <div class="icon"  id="officelocRM">
          <div class="icon--resume">
            <a href="./images/mannah_resume.pdf" target="_blank">
              <span class="icon__name">Resume</span>
            </a>
          </div>
        </div>
        <div class="icon"  id="officelocEM">
          <div class="icon--email">
            <!-- go to panel 7 -->
            <a href="" target="_blank">
              <span class="icon__name">Email</span>
            </a>
          </div>
        </div>

        <img class="text" id="text1" src="./images/text/mannah.png">
        <img class="text" id="text2" src="./images/text/resume.png">
      </div>

      <div id="officeForeground" class="foreground">
        <img src="./images/office/officeForeground.png">
      </div>
    </div>
