<div id=panel3 class="panel">
      <canvas id="classWalk"></canvas>
      <img class="speechBubble" id="panel3speechBubble" src="./images/text/engage.png">


      <div class="background">
        <img id="classroomBackground" src="./images/classroom/classroomBackground.png">
        <img class="text" id="text4" src="./images/text/teacher.png">
        <img class="text" id="text5" src="./images/text/games.png">
      </div>

      <div id="classroomForeground" >
        <img id="frontDesks1" src="./images/classroom/frontDesks1.png">
        <div id="backrow">
          <canvas id="seatA1" class="student"></canvas>
          <img class="kidTalk" id="easy" src="./images/text/easy.png">
          <canvas id="seatA2" class="student"></canvas>
          <canvas id="seatA3" class="student"></canvas>
          <canvas id="seatA4" class="student"></canvas>
          <img class="kidTalk" id="recess" src="./images/text/recess.png">
        </div>
        <img id="backDesks1" src="./images/classroom/backDesks1.png">
        <img id="backDesks2" src="./images/classroom/backDesks2.png">
        <div id="frontrow">
          <canvas id="seatB1" class="student"></canvas>
          <img class="kidTalk" id="pictures" src="./images/text/pictures.png">
          <canvas id="seatB2" class="student"></canvas>
          <canvas id="seatB3" class="student"></canvas>
          <img class="kidTalk" id="groups" src="./images/text/groups.png">
          <canvas id="seatB4" class="student"></canvas>
          <img class="kidTalk" id="time" src="./images/text/time.png">
          <img id="frontDesks2" src="./images/classroom/frontDesks2.png">
        </div>
        <canvas id="computer1" class="student"></canvas>
        <canvas id="computer2" class="student"></canvas>
        <img class="kidTalk" id="awesome" src="./images/text/awesome.png">
      </div>

    </div>
