   <div id=panel2 class="panel">
      <canvas id="cityWalk"></canvas>
      <img class="speechBubble" id="panel2speechBubble" src="./images/text/prettyGood.png">

      <img class="text" id="text3" src="./images/text/tools.png">
      <div id="cityBackground" class="background">
        <img src="./images/city/cityBackground.png">
      </div>
      <div id="cityMidground"><img src="./images/city/cityMidground.png"></div>
      <div id="buildings"><img src="./images/city/cityBuildings.png"></div>

      <div class="clouds">
        <div id="cloud1"><img src="./images/city/cloud.png"></div>
        <div id="cloud2"><img src="./images/city/cloud.png"></div>
        <div id="cloud3"><img src="./images/city/cloud.png"></div>
        <div id="cloud4"><img src="./images/city/cloud.png"></div>
        <div id="cloud5"><img src="./images/city/cloud.png"></div>
      </div>
    </div>
