    <div id=panel4 class="panel">
      <canvas id="lessonWalk"></canvas>
      <img class="text" id="text6" src="./images/text/opportunities.png">
      <img class="speechBubble" id="panel4speechBubble" src="./images/text/checkOut.png">

      <div id="lessonh1" class="hlesson"><img  id="lesson1Button" src="./images/lessons/horses.png"></div>
      <div id="lessonh2" class="hlesson"><img  id="lesson2Button" src="./images/lessons/jbj.png"></div>
      <div id="lessonh3" class="hlesson"><img  id="lesson3Button" src="./images/lessons/patterns.png"></div>
      <div id="lessonh4" class="hlesson"><img  id="lesson4Button" src="./images/lessons/probability.png"></div>

      <div id="lessonv1" class="vlesson"><img  id="lesson5Button" src="./images/lessons/curation.png"></div>
      <div id="lessonv2" class="vlesson"><img  id="lesson6Button" src="./images/lessons/cookie.png"></div>
      <div id="lessonv3" class="vlesson"><img  id="lesson7Button" src="./images/lessons/simpleMachines.png"></div>
      <div id="lessonv4" class="vlesson">
        <a href="https://prezi.com/giw2uhjccb7k/copy-of/" target="_blank">
            <img id="lesson8Button" src="./images/lessons/prezi1.png">
        </a>
      </div>
      <div id="lessonv5" class="vlesson"><img  id="lesson9Button" src="./images/lessons/equations2.png"></div>
      <div id="lessonv6" class="vlesson"><img id="lesson10Button" src="./images/lessons/map.png"></div>
      <div id="lessonv7" class="vlesson"><img id="lesson11Button" src="./images/lessons/wage.png"></div>
      <div id="lessonv8" class="vlesson">
        <a href="https://prezi.com/v1xebaeqqn9j/untitled-prezi/" target="_blank">
            <img id="lesson12Button" src="./images/lessons/prezi2.png">
        </a>
      </div>
    </div>
