   <div id=panel5 class="panel">
      <img class="text" id="text7" src="./images/text/apps.png">
      <div id="galleryBackground">
      <canvas id="sally" class="patron"></canvas>
        <img src="./images/gallery/galleryBackground.png">
        <div id="frame1">
          <div>
            <img class="frame" src="./images/gallery/backWall.png">
            <a href="https://math-hunt.herokuapp.com/" target="_blank">
              <img class="painting" src="./images/gallery/mathHunt.png">
            </a>
          </div>
        </div>
        <div id="frame2">
          <div>
            <img class="frame" src="./images/gallery/backWall.png">
            <a href="https://veggiemongrow2016.herokuapp.com/monster/new" target="_blank">
              <img class="painting" src="./images/gallery/vegimon.png">
            </a>
          </div>
        </div>
        <div id="frame3">
          <div>
            <img class="frame" src="./images/gallery/backWall.png">
            <img class="painting" src="./images/gallery/flappyMath.png">
          </div>
        </div>
        <div id="frame4">
          <div>
            <img class="frame" src="./images/gallery/backWall.png">
            <a href="https://tinyurl.com/kallon-durak" target="_blank">
              <img class="painting" src="./images/gallery/durak.png">
            </a>
          </div>
        </div>
        <img id="patron2" class="patron" src="./images/gallery/patron2.png">
        <img id="patron4" class="patron" src="./images/gallery/patron4.png">
        <canvas id="patron5" class="patron"></canvas>
        <canvas id="patron6" class="patron"></canvas>
      </div>
      <div id="galleryForeground">
        <img id="patron1" class="patron" src="./images/gallery/patron.png">
        <img id="patron3" class="foreground" src="./images/gallery/patron3.png">
        <div id="statue" class="foreground"><img src="./images/gallery/statue.png"></div>
      </div>
    </div>
