    <div id=panel6 class="panel">
      <img id="opportunitiesText" src="./images/map/opportunities.png">
      <div id="newyork">
        <img id= nyCircle src="./images/map/newyork.png">
        <img id="nyText" id="text9" src="./images/text/NY.png">
      </div>
      <div id="sanfran">
        <img id=sfCircle src="./images/map/sanfran.png">
        <img id="sfText" id="text8" src="./images/text/SanFran.png">
      </div>
    </div>
