
<div id=comicPanel>
  <div id="panelFrame"><img src="./images/frame.png">
    <div id=panel1 class="panel">
      <canvas id="standAnimation"></canvas>
      <canvas id="walkAnimation"></canvas>
      <div id="officeBackground" class="background">
        <img src="./images/office/officeBackground.png">

        <img id="chair" src="./images/office/chair.png">
        <img class="wallStuff" id="nav" src="./images/office/navagation.png">
        <img class="wallStuff" id="poster" src="./images/office/poster.png">
        <img class="wallStuff" id="text1" src="./images/office/text1.png">
        <img class="wallStuff buttonO" id="facebookO" src="./images/buttons/fbButton.png">
        <img class="wallStuff buttonO" id="githubO" src="./images/buttons/gtButton.png">
        <img class="wallStuff buttonO" id="linkedO" src="./images/buttons/liButton.png">
        <img class="wallStuff buttonO" id="twitterO" src="./images/buttons/twButton.png">
        <img class="wallStuff buttonO" id="resumeO" src="./images/buttons/reButton.png">
      </div>

      <div id="officeForeground" class="foreground">
        <img src="./images/office/officeForeground.png">
        <img id="table" src="./images/office/table.png">
        <img id="computer" src="./images/office/computer.png">
      </div>
    </div>

    <div id=panel2 class="panel">
      <canvas id="cityWalk"></canvas>
      <div id="cityBackground" class="background"><img src="./images/city/cityBackground.png"></div>
      <div id="cityMidground"><img src="./images/city/cityMidground.png"></div>
      <div id="buildings"><img src="./images/city/cityBuildings.png"></div>

      <div id="clouds">
        <div id="cloud1"><img src="./images/city/cloud.png"></div>
        <div id="cloud2"><img src="./images/city/cloud.png"></div>
        <div id="cloud3"><img src="./images/city/cloud.png"></div>
        <div id="cloud4"><img src="./images/city/cloud.png"></div>
        <div id="cloud5"><img src="./images/city/cloud.png"></div>
      </div>
    </div>

    <div id=panel3 class="panel">
      <canvas id="classWalk"></canvas>
      <div id="classroom" class="background"><img src="./images/classroom/classroom_test.png"></div>
    </div>

    <div id=panel4 class="panel">
      <canvas id="lessonWalk"></canvas>
      <div id="lessonh1" class="hlesson"><img src="./images/test/8.png"></div>
      <div id="lessonh2" class="hlesson"><img src="./images/test/8.png"></div>
      <div id="lessonh3" class="hlesson"><img src="./images/test/8.png"></div>
      <div id="lessonh4" class="hlesson"><img src="./images/test/8.png"></div>

      <div id="lessonv1" class="vlesson"><img src="./images/test/vert.png"></div>
      <div id="lessonv2" class="vlesson"><img src="./images/test/vert.png"></div>
      <div id="lessonv3" class="vlesson"><img src="./images/test/vert.png"></div>
      <div id="lessonv4" class="vlesson"><img src="./images/test/vert.png"></div>
      <div id="lessonv5" class="vlesson"><img src="./images/test/vert.png"></div>
      <div id="lessonv6" class="vlesson"><img src="./images/test/vert.png"></div>
      <div id="lessonv7" class="vlesson"><img src="./images/test/vert.png"></div>
      <div id="lessonv8" class="vlesson"><img src="./images/test/vert.png"></div>
    </div>

    <div id=panel5 class="panel">
      <canvas id="galleryWalk"></canvas>
      <div id="galleryBackground" class="background"><img src="./images/gallery/galleryBackground.png">
        <div id="frame1" class="frames">
          <div>
            <img src="./images/gallery/backWall.png">
            <canvas id="durak" class="paintings"></canvas>
          </div>
        </div>
        <div id="frame2" class="frames">
          <div>
            <img src="./images/gallery/backWall.png">
            <canvas id="vegimon" class="paintings"></canvas>
          </div>
        </div>
      </div>
      <div id="statue" class="foreground"><img src="./images/gallery/statue.png"></div>
    </div>

    <div id=panel6 class="panel">
      <div id="map" class="background"><img src="./images/map/usmap.png">
        <div id="sanfran"><img src="./images/map/sanfran.png"></div>
        <div id="newyork"><img src="./images/map/newyork.png"></div>
      </div>
    </div>

    <div id=panel7 class="panel"></div>
    <div id=panel8 class="panel"></div>
  </div>
</div>
