
<div id=comicPanel>
  <div id="panelFrame"><img src="./images/frame.png"></div>
</div>
<div id=pannel1>
  <canvas id="walkAnimation1"></canvas>
  <div id="officeBackground"><img src="./images/office/officeBackground.png"></div>
  <div id="officeForeground"><img src="./images/office/officeForeground.png"></div>
</div>
<div id=pannel2>
  <canvas id="walkAnimation2"></canvas>
  <div id="cityBackground"><img src="./images/city/cityBackground.png"></div>
  <div id="cityMidground"><img src="./images/city/cityMidground.png"></div>
  <div id="buildings"><img src="./images/city/cityBuildings.png"></div>

  <div id="clouds">
    <div id="cloud1"><img src="./images/city/cloud.png"></div>
    <div id="cloud2"><img src="./images/city/cloud.png"></div>
    <div id="cloud3"><img src="./images/city/cloud.png"></div>
    <div id="cloud4"><img src="./images/city/cloud.png"></div>
    <div id="cloud5"><img src="./images/city/cloud.png"></div>
  </div>
</div>
<div id=pannel3></div>
<div id=pannel4></div>
<div id=pannel5></div>
<div id=pannel6></div>
<div id=pannel7></div>
<div id=pannel8></div>
