
<div id=comicPanel>
  <div id="panelFrame"><img src="./images/frame.png">
  </div>
  </div>
</div>
<div id=pannel1 class="pannel">
  <canvas id="walkAnimation"></canvas>
  <div id="officeBackground" class="background"><img src="./images/office/officeBackground.png"></div>
  <div id="officeForeground" class="foreground"><img src="./images/office/officeForeground.png"></div>
</div>

<div id=pannel2 class="pannel">
  <canvas id="cityWalk"></canvas>
  <div id="cityBackground" class="background"><img src="./images/city/cityBackground.png"></div>
  <div id="cityMidground"><img src="./images/city/cityMidground.png"></div>
  <div id="buildings"><img src="./images/city/cityBuildings.png"></div>

  <div id="clouds">
    <div id="cloud1"><img src="./images/city/cloud.png"></div>
    <div id="cloud2"><img src="./images/city/cloud.png"></div>
    <div id="cloud3"><img src="./images/city/cloud.png"></div>
    <div id="cloud4"><img src="./images/city/cloud.png"></div>
    <div id="cloud5"><img src="./images/city/cloud.png"></div>
  </div>
</div>

<div id=pannel3 class="pannel">
  <canvas id="classWalk"></canvas>
  <div id="classroom" class="background"><img src="./images/classroom/classroom_test.png"></div>
</div>

<div id=pannel4 class="pannel">
  <canvas id="lessonWalk"></canvas>
  <div id="lessonh1" class="hlesson"><img src="./images/test/8.png"></div>
  <div id="lessonh2" class="hlesson"><img src="./images/test/8.png"></div>
  <div id="lessonh3" class="hlesson"><img src="./images/test/8.png"></div>
  <div id="lessonh4" class="hlesson"><img src="./images/test/8.png"></div>

  <div id="lessonv1" class="vlesson"><img src="./images/test/vert.png"></div>
  <div id="lessonv2" class="vlesson"><img src="./images/test/vert.png"></div>
  <div id="lessonv3" class="vlesson"><img src="./images/test/vert.png"></div>
  <div id="lessonv4" class="vlesson"><img src="./images/test/vert.png"></div>
  <div id="lessonv5" class="vlesson"><img src="./images/test/vert.png"></div>
  <div id="lessonv6" class="vlesson"><img src="./images/test/vert.png"></div>
  <div id="lessonv7" class="vlesson"><img src="./images/test/vert.png"></div>
  <div id="lessonv8" class="vlesson"><img src="./images/test/vert.png"></div>
</div>

<div id=pannel5 class="pannel">
  <canvas id="galleryWalk"></canvas>
  <div id="galleryBackground" class="background"><img src="./images/gallery/galleryBackground.png">
    <div id="frame1" class="frames">
      <div>
        <img src="./images/gallery/backWall.png">
        <canvas id="durak" class="paintings"></canvas>
      </div>
    </div>
    <div id="frame2" class="frames">
      <div>
        <img src="./images/gallery/backWall.png">
        <canvas id="vegimon" class="paintings"></canvas>
      </div>
    </div>
  </div>
  <div id="statue" class="foreground"><img src="./images/gallery/statue.png"></div>
</div>

<div id=pannel6 class="pannel">
  <div id="map" class="background"><img src="./images/map/usmap.png"></div>
    <div id="sanfran"><img src="./images/map/sanfran.png"></div>
    <div id="newyork"><img src="./images/map/newyork.png"></div>

</div>

<div id=pannel7 class="pannel"></div>
<div id=pannel8 class="pannel"></div>
