<div id=background>
  <div id="background1"><img src="./images/back_ground.png"></div>
  <div id="background2"><img src="./images/back_ground.png"></div>
  <div id="background3"><img src="./images/back_ground.png"></div>
</div>

<div id=midground>
  <div id="midground1"><img src="./images/mid_ground.png"></div>
  <div id="midground2"><img src="./images/mid_ground.png"></div>
  <div id="midground3"><img src="./images/mid_ground.png"></div>
</div>
<div id=foreground>
  <div id="foreground1"><img src="./images/fore_ground.png"></div>
  <div id="foreground2"><img src="./images/fore_ground.png"></div>
  <div id="foreground3"><img src="./images/fore_ground.png"></div>
</div>
