 <div id=comicPanel>
  <img id="panelFrame" src="./images/frame.png">
    <div id=panel1 class="panel">
      <canvas id="walkAnimation"></canvas>
      <img class="speechBubble" id="panel1speechBubble" src="./images/text/showYou.png">

      <div id="officeBackground" class="background">
        <img src="./images/office/officeBackground.png">

        <!-- <img id="chair" src="./images/office/chair.png"> -->

        <img class="wallStuff" id="nav" src="./images/office/navagation.png">
        <img class="wallStuff" id="poster" src="./images/office/poster.png">

        <div class="icon" id="officelocFB">
          <div class="icon--facebook" >
            <a href="https://www.facebook.com/mannahcodes/" target="_blank">
              <span class="icon__name">Facebook</span>
            </a>
          </div>
        </div>
        <div class="icon" id="officelocTW">
          <div class="icon--twitter">
            <a href="https://twitter.com/mannahKallon" target="_blank">
              <span class="icon__name">Twitter</span>
            </a>
          </div>
        </div>
        <div class="icon" id="officelocLI">
          <div class="icon--linkedin" >
            <a href="https://www.linkedin.com/in/kenikall" target="_blank">
              <span class="icon__name">LinkedIn</span>
            </a>
          </div>
        </div>
        <div class="icon" id="officelocGH">
          <div class="icon--github">
            <a href="https://github.com/kenikall" target="_blank">
              <span class="icon__name">GitHub</span>
            </a>
          </div>
        </div>
        <div class="icon"  id="officelocRM">
          <div class="icon--resume">
            <a href="./images/mannah_resume.pdf" target="_blank">
              <span class="icon__name">Resume</span>
            </a>
          </div>
        </div>
        <div class="icon"  id="officelocEM">
          <div class="icon--email">
            <!-- email protocol -->
            <a href="" target="_blank">
              <span class="icon__name">Email</span>
            </a>
          </div>
        </div>

        <img class="text" id="text1" src="./images/text/mannah.png">
        <img class="text" id="text2" src="./images/text/resume.png">
      </div>

      <div id="officeForeground" class="foreground">
        <img src="./images/office/officeForeground.png">
<!--         <img id="table" src="./images/office/table.png">
        <img id="computer" src="./images/office/computer.png"> -->
      </div>
    </div>

    <div id=panel2 class="panel">
      <canvas id="cityWalk"></canvas>
      <img class="speechBubble" id="panel2speechBubble" src="./images/text/prettyGood.png">

      <img class="text" id="text3" src="./images/text/tools.png">
      <div id="cityBackground" class="background">
        <img src="./images/city/cityBackground.png">
      </div>
      <div id="cityMidground"><img src="./images/city/cityMidground.png"></div>
      <div id="buildings"><img src="./images/city/cityBuildings.png"></div>

      <div class="clouds">
        <div id="cloud1"><img src="./images/city/cloud.png"></div>
        <div id="cloud2"><img src="./images/city/cloud.png"></div>
        <div id="cloud3"><img src="./images/city/cloud.png"></div>
        <div id="cloud4"><img src="./images/city/cloud.png"></div>
        <div id="cloud5"><img src="./images/city/cloud.png"></div>
      </div>
    </div>

    <div id=panel3 class="panel">
      <canvas id="classWalk"></canvas>
      <img class="speechBubble" id="panel3speechBubble" src="./images/text/engage.png">


      <div id="classroomBackground">
        <img class="background" src="./images/classroom/classroomBackground.png">
        <img class="text" id="text4" src="./images/text/teacher.png">
        <img class="text" id="text5" src="./images/text/games.png">
      </div>

      <div id="classroomForeground" >
        <img id="frontDesks1" src="./images/classroom/frontDesks1.png">
        <div id="backrow">
          <canvas id="seatA1" class="student"></canvas>
          <img class="kidTalk" id="easy" src="./images/text/easy.png">
          <canvas id="seatA2" class="student"></canvas>
          <canvas id="seatA3" class="student"></canvas>
          <canvas id="seatA4" class="student"></canvas>
          <img class="kidTalk" id="recess" src="./images/text/recess.png">
        </div>
        <img id="backDesks1" src="./images/classroom/backDesks1.png">
        <img id="backDesks2" src="./images/classroom/backDesks2.png">
        <div id="frontrow">
          <canvas id="seatB1" class="student"></canvas>
          <img class="kidTalk" id="pictures" src="./images/text/pictures.png">
          <canvas id="seatB2" class="student"></canvas>
          <canvas id="seatB3" class="student"></canvas>
          <img class="kidTalk" id="groups" src="./images/text/groups.png">
          <canvas id="seatB4" class="student"></canvas>
          <img class="kidTalk" id="time" src="./images/text/time.png">
        </div>
        <img id="frontDesks2" src="./images/classroom/frontDesks2.png">
        <canvas id="computer1" class="student"></canvas>
        <canvas id="computer2" class="student"></canvas>
        <img class="kidTalk" id="awesome" src="./images/text/awesome.png">
      </div>

    </div>

    <div id=panel4 class="panel">
      <canvas id="lessonWalk"></canvas>
      <img class="text" id="text6" src="./images/text/opportunities.png">
      <img class="speechBubble" id="panel4speechBubble" src="./images/text/checkOut.png">

      <div id="lessonh1" class="hlesson"><img  id="lesson1Button" src="./images/lessons/horses.png"></div>
      <div id="lessonh2" class="hlesson"><img  id="lesson2Button" src="./images/lessons/jbj.png"></div>
      <div id="lessonh3" class="hlesson"><img  id="lesson3Button" src="./images/lessons/patterns.png"></div>
      <div id="lessonh4" class="hlesson"><img  id="lesson4Button" src="./images/lessons/probability.png"></div>

      <div id="lessonv1" class="vlesson"><img  id="lesson5Button" src="./images/lessons/curation.png"></div>
      <div id="lessonv2" class="vlesson"><img  id="lesson6Button" src="./images/lessons/cookie.png"></div>
      <div id="lessonv3" class="vlesson"><img  id="lesson7Button" src="./images/lessons/simpleMachines.png"></div>
      <div id="lessonv4" class="vlesson">
        <a href="https://prezi.com/giw2uhjccb7k/copy-of/" target="_blank">
            <img id="lesson8Button" src="./images/lessons/prezi1.png">
        </a>
      </div>
      <div id="lessonv5" class="vlesson"><img  id="lesson9Button" src="./images/lessons/equations2.png"></div>
      <div id="lessonv6" class="vlesson"><img id="lesson10Button" src="./images/lessons/map.png"></div>
      <div id="lessonv7" class="vlesson"><img id="lesson11Button" src="./images/lessons/wage.png"></div>
      <div id="lessonv8" class="vlesson">
        <a href="https://prezi.com/v1xebaeqqn9j/untitled-prezi/" target="_blank">
            <img id="lesson12Button" src="./images/lessons/prezi2.png">
        </a>
      </div>
    </div>

    <div id=panel5 class="panel">
      <div id="galleryBackground">
        <img src="./images/gallery/galleryBackground.png">
        <img class="text" id="text7" src="./images/text/apps.png">
        <div id="frame1">
          <div>
            <img class="frame" src="./images/gallery/backWall.png">
            <a href="https://math-hunt.herokuapp.com/" target="_blank">
              <img class="painting" src="./images/gallery/mathHunt.png">
            </a>
          </div>
        </div>
        <div id="frame2">
          <div>
            <img class="frame" src="./images/gallery/backWall.png">
            <a href="https://veggiemongrow2016.herokuapp.com/" target="_blank">
              <img class="painting" src="./images/gallery/vegimon.png">
            </a>
          </div>
        </div>
        <div id="frame3">
          <div>
            <img class="frame" src="./images/gallery/backWall.png">
            <img class="painting" src="./images/gallery/flappyMath.png">
          </div>
        </div>
        <div id="frame4">
          <div>
            <img class="frame" src="./images/gallery/backWall.png">
            <a href="https://tinyurl.com/kallon-durak" target="_blank">
              <img class="painting" src="./images/gallery/durak.png">
            </a>
          </div>
        </div>
        <img id="patron2" class="patron" src="./images/gallery/patron2.png">
        <img id="patron4" class="patron" src="./images/gallery/patron4.png">
        <canvas id="patron5" class="patron"></canvas>
        <canvas id="patron6" class="patron"></canvas>
      </div>
      <div id="galleryForeground">
        <img id="patron1" class="patron" src="./images/gallery/patron.png">
        <img id="patron3" class="foreground" src="./images/gallery/patron3.png">
        <div id="statue" class="foreground"><img src="./images/gallery/statue.png"></div>
      </div>
    </div>

    <div id=panel6 class="panel">
      <img id="opportunitiesText" src="./images/map/opportunities.png">
      <div id="newyork">
        <img id= nyCircle src="./images/map/newyork.png">
        <img id="nyText" id="text9" src="./images/text/NY.png">
      </div>
      <div id="sanfran">
        <img id=sfCircle src="./images/map/sanfran.png">
        <img id="sfText" id="text8" src="./images/text/SanFran.png">
      </div>
    </div>

    <div id=panel7 class="panel">
      <canvas id="contactWalk1"></canvas>
      <img class="background" src="./images/contact/contact.png">
      <img class="text" id="text10" src="./images/text/suggestions.png">
      <div id="email" class="contact">
        <form method="post" action="email.php">
          <input id="sender" class="textbox" type="email-address" name="text" maxlength="75" placeholder="Your email">
          <input id="subject" class="textbox" type="email-subject" name="text" maxlength="75" placeholder="Subject">
          <textarea id="content" class="textbox" type="email-body" name="text" placeholder="Your message"  rows="5" cols="50"></textarea>
          <input id="subButton" type="image" src="./images/contact/subButton.png" value="Send email">
        </form>
      </div>
      <div class="icon">
        <div class="icon--facebook" id="contactlocFB">
          <a href="https://www.facebook.com/mannahcodes/" target="_blank">
            <span class="icon__name">Facebook</span>
          </a>
        </div>
        <img class="contactBalloon" id="fbBalloon" src="./images/contact/fbBalloon.png">
      </div>
      <div class="icon">
        <div class="icon--twitter" id="contactlocTW">
          <a href="https://twitter.com/mannahKallon" target="_blank">
            <span class="icon__name">Twitter</span>
          </a>
        </div>
        <img class="contactBalloon" id="twitBalloon" src="./images/contact/twitBalloon.png">
      </div>
      <div class="icon">
        <div class="icon--linkedin" id="contactlocLI">
          <a href="https://www.linkedin.com/in/kenikall" target="_blank">
            <span class="icon__name">LinkedIn</span>
          </a>
        </div>
        <img class="contactBalloon" id="liBalloon" src="./images/contact/liBalloon.png">
      </div>
      <div class="icon">
        <div class="icon--github" id="contactlocGH">
          <a href="https://github.com/kenikall" target="_blank">
            <span class="icon__name">GitHub</span>
          </a>
        </div>
        <img class="contactBalloon" id="gitBalloon" src="./images/contact/gitBalloon.png">
      </div>
      <div class="icon">
        <div class="icon--resume" id="contactlocRM">
          <a href="./images/mannah_resume.pdf" target="_blank">
            <span class="icon__name">Resume</span>
          </a>
        </div>
        <img class="contactBalloon" id="resBalloon" src="./images/contact/resBalloon.png">
      </div>
      <img id="emailBalloon" src="./images/contact/emailBubble.png">
      <div id="emailPanel">
        <canvas id="contactWalk2"></canvas>
      </div>
    </div>

    <div id=panel8 class="panel">
      <canvas id="sitting"></canvas>
      <img class="speechBubble" id="panel8speechBubble" src="./images/text/coding.png">
      <img class="speechBubble" id="panel8speechBubble" src="./images/text/thanks.png">
      <img class="text" id="text11" src="./images/text/projects.png">
      <img class="text" id="text12" src="./images/text/new.png">
      <div class="background">

        <img id="homeBackground" src="./images/bedroom/bedroomBackground.png">
        <img id="chair" src="./images/office/chair.png">
      </div>
      <div class="foreground">
        <img id="table" src="./images/office/table.png">
        <img id="computer" src="./images/office/computer.png">
      </div>
    </div>
</div>
<div id="lessonModal1" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/mathCurationTeamExercise.pdf"></iframe>
    <p>Lesson 1</p>
  </div>
</div>
<div id="lessonModal2" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/fractions.pdf"></iframe>
    <p>Lesson 2</p>
  </div>
</div>
<div id="lessonModal3" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/JellyBeanJumble.pdf"></iframe>
    <p>Lesson 3</p>
  </div>
</div>
<div id="lessonModal4" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/patterns.pdf"></iframe>
    <p>Lesson 4</p>
  </div>
</div>
<div id="lessonModal5" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/simpleMachines.pdf"></iframe>
    <p>Lesson 5</p>
  </div>
</div>
<div id="lessonModal6" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/equations.pdf"></iframe>
    <p>Lesson 7</p>
  </div>
</div>
<div id="lessonModal7" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/probability.pdf"></iframe>
    <p>Lesson 8</p>
  </div>
</div>
<div id="lessonModal8" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/map.pdf"></iframe>
    <p>Lesson 9</p>
  </div>
</div>
<div id="lessonModal9" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/wageInequalityProject.pdf"></iframe>
    <!-- <p>Lesson 10</p> -->
  </div>
</div>
<div id="lessonModal10" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe class="lessonPDF" src="./images/lessons/horses.pdf"></iframe>
    <p>Lesson 11</p>
  </div>
</div>
