html, body {background-color: #42eef4; margin: 0; height: 100%; overflow: hidden}

.background{
  position: absolute;
  z-index:3;
}

.wallStuff{
  position:absolute;
}

.foreground{
 position: absolute;
  z-index:6;
}

.panel{
  overflow: hidden;
  position: absolute;
}

#comicPanel{
  position: absolute;
  max-width: 4040px;
  width: 100%;
}

#panelFrame{
  position: relative;
  z-index: 10;
  width: 100%;
}

#panel1{
  height: 810px;
  width: 1600px;
  -webkit-clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
  top: 100px;
  left: 100px;
}

#officeForeground{
  position: absolute;
  z-index:8;
}

#chair{
  z-index:4;
  position: absolute;
  left: 0px;
  top: 575px;
}

#computer{
  position: absolute;
  left: 125px;
  top: 560px;
}

#table{
  position: absolute;
  top:600px;
  left: 0px;
}

#poster{
  position: absolute;
  top: 100px;
  left:1575px;
}

.buttonO{
  position: absolute;
  left: 700px;
}

#facebookO{ top: 100px; }

#githubO{ top: 150px; }

#linkedO{ top: 200px; }

#twitterO{ top: 250px; }

#resumeO{ top: 300px; }


#nav{
  position: absolute;
  top: 100px;
  left: 1100px;
}


#text1{
  position: absolute;
  top: 100px;
  left: 50px;
}

#panel2{
  height: 810px;
  width: 2800px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  top: 105px;
  left: 1200px;
}

#clouds{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
}

#cloud1{
  position: absolute;
  opacity: 0.8;
  top: 30px;
  left: 1800px;
}

#cloud2{
  position: absolute;
  opacity: 0.5;
  top: 60px;
  left: 300px;
}

#cloud3{
  position: absolute;
  opacity: 0.6;
  top: 90px;
  left: 2000px;
}

#cloud4{
  position: absolute;
  opacity: 0.4;
  top: 120px;
  left: 600px;
}

#cloud5{
  position: absolute;
  opacity: 0.4;
  top: 150px;
  left: 1100px;
}

#buildings{
  position: absolute;
  top:0px;
  left: 2800px;
  z-index: 6
}

#cityBackground{
  position: absolute;
  z-index:4;
}

#cityMidground{
  position: absolute;
  z-index:5;
}
#panel3{
  height: 810px;
  width: 1250px;
  top: 1000px;
  left: 100px;
}

#panel4{
  z-index: 15;
  height: 810px;
  background-color: black;
  width: 1250px;
  top: 1000px;
  left: 1425px;
}

#lessonv1{ top: -200px; left: -150px; }

#lessonv3{ top: 400px; left: 1100px; }

#lessonh1{ top: -25px; left: 275px; }

#lessonv2{ top: -200px; left: 875px; }

#lessonv4{ top: 825px; left: -50px; }

#lessonv5{ top: 825px; left: 375px; }

#lessonh2{ top: 400px; left: -100px; }

#lessonh3{ top: 400px; left: 500px; }

#lessonh4{ top: 1000px; left: 800px; }

#lessonv6{ top: 1425px; left: 0px; }

#lessonv7{ top: 1475px; left: 425px; }

#lessonv8{ top: 1425px; left: 850px; }

.hlesson{ position: absolute; z-index: 3; }

.vlesson{ position: absolute; z-index: 3; }

#panel5{
  height: 810px;
  width: 1200px;
  top: 1000px;
  left: 2750px;
}

#statue{
  top:300px;
  left:200px;
}
.frames{
  position: absolute;
  top:250px;
  z-index:5;
}

#frame1{
  left: 525px;
  z-index:5;
}

#frame2{
  left: 1000px;
}

.paintings{
  z-index: 4;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 201px;

}

#panel6{
  background-color: black;
  height: 950px;
  width: 1000px;
  top: 1900px;
  left: 100px;
}
#map{
  z-index: 4;
}

#newyork{
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 500px;
}

#sanfran{
  position: absolute;
  z-index: 6;
  top: -150px;
  left: -150px;
  width: 5%;
  height:5%;
}

#panel7{
  height: 950px;
  width: 1950px;
  -webkit-clip-path: polygon(0 0, 67% 0, 100% 100%, 0% 100%);
  top: 1900px;
  left: 1180px;
}

#panel8{
  height: 930px;
  width: 1350px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
  top: 1900px;
  left: 2600px;
}

#walkAnimation{
  position:absolute;
  z-index: 5;
  top: 400px;
  left: 200px;
}

#standAnimation{
  position:absolute;
  z-index: 5;
  top: 450px;
  left: -25px;
}

#cityWalk{
  position:absolute;
  z-index: 9;
  top: 450px;
}

#classWalk{
  position:absolute;
  z-index: 5;
  top: 1000px;
  left: 1000px;
}

#lessonWalk{
  position:absolute;
  z-index: 5;
  top: 1000px;
  left: 1000px;
}

#galleryWalk{
  position:absolute;
  z-index: 5;
  top: 1000px;
  left: 1000px;
}

#marker{
  position:absolute;
  z-index: 12;
  top: 450px;
  left: 200px;
}

.textbox{
  background: transparent;
}

.icon{
  position:absolute;
}

#resume{
  top: 20%;
  left: 45%;
}

#linkedin{
  top: 20%;
  left: 60%;
}

#github{
  top: 60%;
  left: 45%;
}

#facebook{
  top: 60%;
  left: 60%;
}

#twitter{
  top: 60%;
  left: 75%;
}

.contact{
  position: absolute;
  left: 10%;
}

#email{
  top: 20%;
  width: 50%;
}

#subject{
  top: 30%;
  width: 50%;
}

#body{
  top: 50%;
  width: 50%;
  height: 50%;
}

#panel1speechBubble{
  position: absolute;
  z-index: 5;
}
