#background{
  top:0px;
  z-index:1;
}

#background1{
  background-color: #42eef4;
  position:absolute;
  position:absolute;
  left:0px;
}

#background2{
  background-color: #42eef4;
  position:absolute;
  position:absolute;
  left:1000px;
}

#background3{
  background-color: #42eef4;
  position:absolute;
  position:absolute;
  left:2000px;
}

#midground{
  top:0px;
  z-index:1;
}

#midground1{
  position:absolute;
  position:absolute;
  left:0px;
}

#midground2{
  position:absolute;
  position:absolute;
  left:1000px;
}

#midground3{
  position:absolute;
  position:absolute;
  left:2000px;
}

#foreground{
  top:0px;
  z-index:1;
}

#foreground1{
  position:absolute;
  position:absolute;
  left:0px;
}

#foreground2{
  position:absolute;
  position:absolute;
  left:1000px;
}

#foreground3{
  position:absolute;
  position:absolute;
  left:2000px;
}

